{% extends 'base.html' %}

{% block content %}
  <h2> Тестовая платформа IT Academy</h2>
  <p class="lead">
    Уже есть аккаунт ? <a href="{% url 'login' %}">Войти</a>. <br>
    Можете зарегистироваться как  <a href="{% url 'student_signup' %}"> студент</a>  или  как <a href="{% url 'teacher_signup' %}">преподаватель</a>.
  </p>
  <hr>
  <h3> Что это такое ?</h3>
  <p>Это платформа для тестирования студентов. Администраторы или преподаватели могут зарегистрироваться и затем создавать тесты, а студенты после регистрации могут проходить их.
  </p>
{% endblock %}
