{% extends 'base.html' %}

{% block content %}
  <h2>Test platform IT Academy</h2>
  <p class="lead">
    Already have an account? <a href="{% url 'login' %}">Login</a>. <br>
    You can register as a <a href="{% url 'student_signup' %}"> student</a>  or as a <a href="{% url 'teacher_signup' %}">teacher</a>.
  </p>
  <hr>
  <h3>What it is ?</h3>
  <p>This is a student testing platform. Administrators or teachers can register and then create tests, and students after registration can take them.
  </p>
{% endblock %}
